<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Student</title>
</head>
<body>
<h1>Edit Student</h1>
<form method="post" th:object="${obj}">
    <div>
        <div>
            <label for="clazz.id">Class</label>
            <select th:field="*{clazz.id}" id="clazz.id">
                <option th:each="o : ${classes}" th:value="${o.id}" th:text="${o.name}"></option>
            </select>
        </div>
    </div>
    <div>
        <label for="code">Code</label>
        <input type="text" th:field="*{code}" id="code">
    </div>
    <div>
        <label for="firstName">First Name</label>
        <input type="text" th:field="*{firstName}" id="firstName">
    </div>
    <div>
        <label for="lastName">Last Name</label>
        <input type="text" th:field="*{lastName}" id="lastName">
    </div>
    <div>
        <label for="email">Email</label>
        <input type="text" th:field="*{email}" id="email">
    </div>
    <div>
        <label for="gender">Gender</label>
        <input type="checkbox" th:field="*{gender}" id="gender">
    </div>
    <div>
        <button type="submit">Save Changes</button>
    </div>
</form>
</body>
</html>
